# Практическая работа №4

## Импорт библиотек

In [ ]:
import json
import pandas as pd
import numpy as np

## Предварительный анализ данных

В видео к практической работе был представлен более сложный и времязатратный способ формирования датафрейма. Я не стал множить сущности и воспользовался вариантом ниже, т.к. формировать датафреймы вручную и писать циклы умею. Если Вы сочтете, что я "читер", то могу обработать json циклами и сформировать таблицу также как это было показано в видео :)

In [ ]:
with open('parsed.json', 'r') as file:
    data = json.load(file)

In [ ]:
with open('parsed_2.json', 'w', encoding='utf8') as file_2:
    json.dump(data['data'], file_2, ensure_ascii=False, indent=4, sort_keys=False)

In [ ]:
df = pd.read_json('parsed_2.json')

In [ ]:
df

In [ ]:
# Запишем датасет в csv-таблицу
df.to_csv('parsed.csv', index=False)

In [ ]:
# Откроем наш датасет из уже записанного csv-файла
df = pd.read_csv('parsed.csv')

In [ ]:
df

In [ ]:
df.info()

In [ ]:
# Посчитаем количество уникальных вакансий
title_unique = df['title'].unique()
title_unique.shape

In [ ]:
ds_title_list = [i for i in df['title'] if 'Data Science' in str(i) 
     or 'data science' in str(i) 
     or 'Data science' in str(i) 
     or 'data Science' in str(i)
     or 'Data-Science' in str(i) 
     or 'data-science' in str(i) 
     or 'Data-science' in str(i) 
     or 'data-Science' in str(i)]
print(ds_title_list)

de_names = ['Data engeener', 'data engeener', 'Data Engeener', 'data Engeener', 
            'Data engeenering', 'data engeenering', 'Data Engeenering', 'data Engeenering',
            'Инженер данных', 'инженер данных', 'инженер Данных', 'Инженер Данных',
            'Инженер больших данных', 'инженер больших данных', 'инженер Больших Данных', 'Инженер Больших Данных',
            'Инженер Больших данных', 'инженер Больших данных', 'инженер больших Данных', 'Инженер больших Данных',
            'дата-инженер', 'Дата-инженер', 'Дата-Инженер', 'Data-engeener', 'data-engeener', 'Data-Engeener', 'data-Engeener']
de_title_list = []
for v in de_names:
     for i in range(len(title_unique)):
          if v in str(title_unique[i]):
               i_number = df.loc[df['title'] == title_unique[i]].index
               de_title_list.append(i_number[0])
               #de_title_list.append(df.loc[df['title'] == title_unique[i]].index)
print(de_title_list)

In [ ]:
g = df.loc[df['title'] == 'Руководитель Data Science'].index

In [ ]:
df.loc[de_title_list]

In [76]:
df = df.apply(salary_to_num, axis=1)

In [77]:
df = df.apply(exp_to_num, axis=1)

In [67]:
def salary_to_num(row):
    number_1 = []
    number_2 = []
    last_symbol = 'start'
    m = ''
    val = row['salary']
    salary = str(row['salary']).replace(' ', '')
    salary = list(''.join(salary))
    salary_min = row['salary_min']
    salary_max = row['salary_max']
    
    for i in salary:
        if m.isnumeric() == True and i.isnumeric() == False:
            last_symbol = 'next'
        if last_symbol == 'start':
            if i.isnumeric() == True:
                number_1.append(i)
        elif last_symbol == 'next':
            if i.isnumeric() == True:
                number_2.append(i)
        m = i
    
    try:
        number_1 = int(''.join(number_1))
    except:
        number_1 = 0
    try:
        number_2 = int(''.join(number_2))
    except:
        number_2 = 0
    
    if (number_1 != 0 and number_2 != 0) or (number_1 != '' and number_2 != ''):
        row.loc['salary_min'] = number_1
        row.loc['salary_max'] = number_2
    elif (number_1 != 0 and number_2 == 0) or (number_1 != '' and number_2 == ''):
        row.loc['salary_min'] = 0
        row.loc['salary_max'] = number_1
    else:
        row.loc['salary_min'] = 0
        row.loc['salary_max'] = 0
    row.loc['salary'] = val
    return row

In [75]:
def exp_to_num(row):
    number_1 = []
    number_2 = []
    last_symbol = 'start'
    m = ''
    val = row['work experience']
    exp = str(row['work experience']).replace(' ', '')
    exp = list(''.join(exp))
    exp_min = row['exp_min']
    exp_max = row['exp_max']
    
    for i in exp:
        if m.isnumeric() == True and i.isnumeric() == False:
            last_symbol = 'next'
        if last_symbol == 'start':
            if i.isnumeric() == True:
                number_1.append(i)
        elif last_symbol == 'next':
            if i.isnumeric() == True:
                number_2.append(i)
        m = i
    
    try:
        number_1 = int(''.join(number_1))
    except:
        number_1 = 0
    try:
        number_2 = int(''.join(number_2))
    except:
        number_2 = 0
    
    if (number_1 != 0 and number_2 != 0) or (number_1 != '' and number_2 != ''):
        row.loc['exp_min'] = number_1
        row.loc['exp_max'] = number_2
    elif (number_1 != 0 and number_2 == 0) or (number_1 != '' and number_2 == ''):
        row.loc['exp_min'] = 0
        row.loc['exp_max'] = number_1
    else:
        row.loc['exp_min'] = 0
        row.loc['exp_max'] = 0
    row.loc['work experience'] = val
    return row

In [73]:
df = pd.read_csv('parsed.csv')
df['salary_min'] = 0
df['salary_max'] = 0
df['exp_min'] = 0
df['exp_max'] = 0

In [78]:
df

,title,work experience,salary,region,salary_min,salary_max,exp_min,exp_max
0,Python Разработчик,1–3 года,от 200 000 до 1 500 000 KZT на руки,Астана,200000,1500000,1,3
1,Full-stack Python Developer,3–6 лет,от 4 500 до 5 000 EUR до вычета налогов,Астана,4500,5000,3,6
2,Junior разработчик/программист в Python,не требуется,от 150 000 до 200 000 KZT до вычета налогов,Нур-Султан (Астана),150000,200000,0,0
3,Python Developer (Middle/Senior),3–6 лет,от 2 000 до 4 000 USD на руки,Алматы,2000,4000,3,6
4,Backend разработчик,1–3 года,з/п не указана,Астана,0,0,1,3
...,...,...,...,...,...,...,...,...
4279,Специалист службы поддержки с техническими зна...,не требуется,от 15 000 до 40 000 руб. на руки,Ижевск,15000,40000,0,0
4280,Web-разработчик junior,не требуется,до 70 000 руб. на руки,Санкт-Петербург,70000,0,0,0
4281,Web-разработчик,не требуется,з/п не указана,Нижний Новгород,0,0,0,0
4282,Младший аналитик (IT),не требуется,от 100 000 до 130 000 руб. на руки,Москва,100000,130000,0,0
4283,Программист PHP Junior,не требуется,от 60 000 до 80 000 руб. на руки,Севастополь,60000,80000,0,0